@media (max-width: 768px) {

      body{
        margin: auto;
    }

    body header nav {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 15px;
    }

    body header div {
        align-items: center;
    }


@media (min-width: 769px) {

    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        text-align: center;
        min-height: 100vh;
      }

    body{
        width: 960px;
        margin: auto;
    }

    body header div {
        display: flex;
    }
}
